{
  "extends": [
    "angular",
    "dustinspecker"
  ],
  "rules": {
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "consistent-this": 0,
    "no-underscore-dangle": [2, { "allow": ["_id"] }]
  }
}
