<div class="main-content">
  <ol class="breadcrumb">
    <li><a ui-sref="workout">Workouts</a></li>
    <li><a ui-sref="workout-date({workoutId: wi.instance.workout.id})">Dates</a></li>
    <li class="active">{{wi.isToday ? "Today" : wi.workoutDate}}</li>
  </ol>
	<h4>{{wi.instance.workout.name}} on {{wi.workoutDate}}</h4>

  <div class="btn-group btn-block" uib-dropdown is-open="instructor.isopen">
    <button type="button" class="btn btn-lg btn-block btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Instructor: <span ng-class="{muted: !wi.instance.instructor}">{{wi.instance.instructor || "Select an Instructor"}}</span>  <span class="caret"></span>
    </button>
    <ul class="button-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li><a href="" ng-click="wi.instance.instructor = 'John McGuire'">John McGuire</a></li>
      <li><a href="" ng-click="wi.instance.instructor = 'Tracy McGuire'">Tracy McGuire</a></li>
      <li><a href="" ng-click="wi.instance.instructor = 'John Geise'">John Geise</a></li>
      <li><a href="" ng-click="wi.instance.instructor = 'Mitch Jones'">Mitch Jones</a></li>
      <li><a href="" ng-click="wi.instance.instructor = 'Jeff Elgin'">Jeff Elgin</a></li>
      <li><a href="" ng-click="wi.instance.instructor = 'Nicole Frost'">Nicole Frost</a></li>
    </ul>
  </div>

  <div class="btn-group btn-block" uib-dropdown is-open="venue.isopen">
    <button type="button" class="btn btn-lg btn-block btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Venue: {{wi.instance.venue.name || "Select a Venue"}}  <span class="caret"></span>
    </button>
    <ul class="button-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li ng-repeat="venue in wi.instance.workout.venues">
        <a href="" ng-click="wi.instance.venue = venue">
          {{venue.name}}
        </a>
      </li> 
    </ul>
  </div>

  <a class="btn btn-lg btn-block btn-primary" ui-sref="workout-attendance({workoutId: wi.instance.workout.id, workoutDate: wi.instance.date})">
    Attendance <span class="badge">{{wi.instance.attendance.length}}</span>
  </a>

  <div class="row top-space">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="note" class="control-label">Workout Notes</label>
        <textarea class='form-control' data-ng-model='wi.instance.notes' cols="20" maxlength='500' name="note" rows="2">
        </textarea>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Weather</h3>
        </div>
        <div class="panel-body">
          <div>Temp: {{wi.instance.weather.temp}}</div>
          <div>Sky: {{wi.instance.weather.sky}}</div>
          <div>Precipitation: {{wi.instance.weather.precipitation}}</div>
        </div>
      </div>
    </div>
  </div>    
</div>
