<div class="main-content">
  	<h4>{{workout.ctrlName}}</h4>
  	<p>{{workout.username}}</p>
	{{workout.errorMessage}}
 	<uib-tabset active="active">
    	<uib-tab index="0">
    		<uib-tab-heading>
        		Checked In <span class="badge">{{workout.checkedIn.length}}</span>
      		</uib-tab-heading>

      		<div class="tab-body">
      			<div class="alert alert-warning" ng-if="workout.checkedIn.length === 0" role="alert">No one checked in yet</div>

            <div ng-repeat='member in workout.checkedIn' class="row">
              <div class="col-xs-4">
                <img ng-src="{{member.user.picture.thumbnail}}">
              </div>
              <div class="col-xs-4">
                {{member.user.name.first}} {{member.user.name.last}}
              </div>
              <div class="col-xs-4">
                <button class="btn btn-sm" ng-click="workout.remove(member)">
                  Remove
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
	    		  <!-- <ul ng-repeat='member in workout.checkedIn'>
    					<li>
    						<img ng-src="{{member.user.picture.thumbnail}}">
    						{{member.user.name.first}} {{member.user.name.last}}
                <button class="btn btn-sm" ng-click="workout.remove(member)">
                  Remove
                  <i class="fa fa-times"></i>
                </button>
    					</li>
    				</ul> -->
      		</div>
    	</uib-tab>

    	<uib-tab index="1" heading="Regulars">
    		<div class="tab-body">
          <label>Search: <input ng-model="workout.regSearchText"></label>
          <div ng-repeat="regular in workout.regulars | orderBy:'user.name.last' | filter: workout.regSearchText" class="row">
            <div class="col-xs-3 col-sm-1">
              <img ng-src="{{regular.user.picture.thumbnail}}">
            </div>
            <div class="col-xs-5 col-sm-7">
              {{regular.user.name.first}} {{regular.user.name.last}}
            </div>
            <div class="col-xs-4">
              <button class="btn btn-sm" ng-click="workout.checkIn(regular)">
                Check In
                <i ng-if="workout.checkedIn.indexOf(regular) > -1" class="fa fa-check-circle"></i>
              </button>
            </div>
          </div>

	    		<!-- <ul ng-repeat="regular in workout.regulars | orderBy:'user.name.last' | filter: workout.regSearchText">
					<li>
						<img ng-src="{{regular.user.picture.thumbnail}}">
						{{regular.user.name.first}} {{regular.user.name.last}}
						<button class="btn btn-sm" ng-click="workout.checkIn(regular)">
              Check In
              <i ng-if="workout.checkedIn.indexOf(regular) > -1" class="fa fa-check-circle"></i>
            </button>

					</li>
				</ul> -->
			</div>
    	</uib-tab>

    	<uib-tab index="2" heading="Other Members">
        <label>Search: <input ng-model="workout.memSearchText"></label>
    		Search for a member to check them in...
    	</uib-tab>

      <uib-tab index="3" heading="Guests">
    		Add a guest, or manual member...
    	</uib-tab>
	</uib-tabset>
</div>
