<div data-ng-if='!home.currentUser'>
  <!-- Not logged in section-->
  <div data-ng-include="'/home/home-guest.tpl.html'"/>
</div>

<div data-ng-if='home.currentUser'>
  <!-- Logged in section -->
  <h4>Here's your <strong>TrackMy<em>Tries</em></strong> Dashboard</h4>
  <hr>

  <uib-alert data-ng-if="home.loading" type="info" class="loading">
    <i class="fa fa-cog fa-spin fa-2x"></i>
    <span> Hold on, loading your Dashboard...</span>
  </uib-alert>

  <div data-ng-if="!home.loading" class="row">
    <div data-ng-repeat='category in home.categories | orderBy:"_id"'>
      <div class="clearfix visible-md-block" ng-if="$index % 3 === 0"></div>
      <div class="clearfix visible-sm-block" ng-if="$index % 2 === 0"></div>

      <div class="col-md-4 col-sm-6">
        <category-stats category="category" view-all="true" add-fn="home.addNew(category)"></category-stats>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <button class="btn btn-md btn-default btn-block">
        <span class="glyphicon glyphicon-plus"></span> Add a new category
      </button>
    </div>
  </div>
</div>
