ul.centered {
  text-align: -webkit-center;
  text-align: center;
}

ul.centered > li {
  margin-left: 20px;
}

.bordered {
  padding: 0 10px 0 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #468847;
}

.jumbotron {
  background-image: url('/images/chart-bkgrd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
