.table > tbody > tr > td, td > a {
     vertical-align: middle;
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 3px;
}

.panel-body > p {
  margin-bottom: 1px;
}

.top-buffer {
  margin-top: 10px;
}

.uib-timepicker {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.durationError {
  display: inline-block;
  padding-left: 10px;
}
