<div class="well">
  <form
    class="form-horizontal"
    role="form"
    name="user.loginForm"
    data-ng-submit="user.changePassword(user.credentials)"
    novalidate>
    <fieldset>
      <legend>Change Password</legend>

      <alert data-ng-if="user.errorMessage" type="danger" close="user.errorMessage = null">
        {{user.errorMessage}}
      </alert>

      <div class="form-group" show-errors>
        <label for="password" class="control-label"> Current Password</label>
        <input
          data-ng-model="user.credentials.currentPassword"
          class="form-control password"
          name="password"
          type="password"
          value=""
          required />
        <div class="help-block" ng-messages="user.loginForm.password.$error" ng-messages-multiple>
          <div ng-messages-include="user/user-form-messages.html"></div>
        </div>
      </div>

      <div class="form-group" show-errors>
        <label for="newPassword" class="control-label">New Password</label>
        <input
          data-ng-model="user.credentials.newPassword"
          class="form-control password"
          name="newPassword"
          type="password"
          ng-pattern="/^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9]).{8,}$/"
          value=""
          required />
        <div class="help-block" ng-messages="user.loginForm.newPassword.$error" ng-messages-multiple>
          <div ng-messages-include="user/user-form-messages.html"></div>
        </div>
      </div>

      <div class="form-group" show-errors>
        <label for="confirmNewPassword" class="control-label">Confirm New Password</label>
        <input
          data-ng-model="user.credentials.confirmNewPassword"
          class="form-control password"
          name="confirmNewPassword"
          type="password"
          compare-to="user.credentials.newPassword"
          value=""
          required />
        <div class="help-block" ng-messages="user.loginForm.confirmNewPassword.$error" ng-messages-multiple>
          <div ng-messages-include="user/user-form-messages.html"></div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Change Password</button>
      </div>

    </fieldset>
  </form>
</div>
